@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback");
@import "~admin-lte/plugins/fontawesome-free/css/all.min.css";
@import "~admin-lte/dist/css/adminlte.min.css";

.main-sidebar .brand-link > img {
    opacity: .8
}

.long-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}