@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback");
@import "~primereact/resources/themes/saga-blue/theme.css";
@import "~primereact/resources/primereact.min.css";
@import "~primeicons/primeicons.css";
@import "~admin-lte/plugins/fontawesome-free/css/all.min.css";
@import "~admin-lte/dist/css/adminlte.min.css";

.main-sidebar .brand-link > img {
    opacity: 0.8;
}

.long-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#loading-process-screen {
    cursor: wait;
}

/* - table -------------------------- */
.table td.td-btn-actions > div {
    visibility: hidden;
}

.table tr:hover > td.td-btn-actions > div {
    visibility: visible;
}

/* - full-screen -------------------------- */
.full-screen,
.full-screen-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
}

.full-screen-background {
    background-color: #fff;
    opacity: 0.9;
    z-index: 1051;
}

.full-screen-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.full-screen-container > div {
    z-index: 1052;
}

.cuadricula {
    display: grid;
    grid-template-columns: repeat(4, 24%);
    grid-template-rows: repeat(3, 160px);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    justify-content: center;
}

.cuadricula-child {
    display: flex;
    background-color: antiquewhite;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
}

.cuadricula-data {
    display: flex;
    flex-direction: column;
    align-self: normal;
}

.cuadricula-name {
    font-size: 32px;
}

@media only screen and (max-width: 768px) {
    .cuadricula {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(1, 160px);
        grid-column-gap: 15px;
        grid-row-gap: 10px;
        justify-content: center;
    }
}

@media only screen and (max-width: 420px) {
    .cuadricula {
        display: grid;
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(1, 160px);
        grid-column-gap: 15px;
        grid-row-gap: 10px;
        justify-content: center;
    }
}
