@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback");
@import "~primereact/resources/themes/saga-blue/theme.css";
@import "~primereact/resources/primereact.min.css";
@import "~primeicons/primeicons.css";
@import "~admin-lte/plugins/fontawesome-free/css/all.min.css";
@import "~admin-lte/dist/css/adminlte.min.css";

.layout-bottom-navbar-fixed .wrapper .content-wrapper {
    padding-bottom: calc(3.5rem + 1px);
}

.layout-bottom-navbar-fixed .wrapper .main-header {
    border-top: 1px solid #dee2e6;
    border-bottom: 0;
}

.main-sidebar .brand-link > img {
    opacity: 0.8;
}

.long-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#loading-process-screen {
    cursor: wait;
}

.border-radius-0 {
    border-radius: 0 !important;
}

.w-fixed-40 {
    width: 40px;
}

.w-fixed-25 {
    width: 25px;
}

.cursor-pointer {
    cursor: pointer;
}

/* - table -------------------------- */
.table td.td-btn-actions > div {
    visibility: hidden;
}

.table tr:hover > td.td-btn-actions > div {
    visibility: visible;
}

/* - full-screen -------------------------- */
.full-screen,
.full-screen-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2050;
}

.full-screen-background {
    background-color: #fff;
    opacity: 0.9;
    z-index: 1051;
}

.full-screen-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.full-screen-container > div {
    z-index: 1052;
}

/* - custom-checkbox -------------------------- */
.custom-checkbox {
    margin-right: 10px;
}

.custom-checkbox > .custom-checkbox-box {
    padding-left: 2px;
    line-height: 20px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin-bottom: 0;
    cursor: pointer;
    width: 22px;
    height: 22px;
    border: 1px solid #D3CFC8;
}

.custom-checkbox > .custom-checkbox-box.active {
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
}

/* - list-group-custom-button -------------------------- */
.list-group.list-group-custom-button .list-group-item > .list-group-item-button {
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    display: none;
}

.list-group.list-group-custom-button .list-group-item > .list-group-item-content.button-active {
    width: 80%;
    padding-right: 10px;
}

.list-group.list-group-custom-button .list-group-item > .list-group-item-button.button-active {
    display: block;
}

.cuadricula {
    display: grid;
    grid-template-columns: repeat(4, 24%);
    grid-template-rows: repeat(3, 160px);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    justify-content: center;
}

.cuadricula-child {
    display: flex;
    background-color: antiquewhite;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
}

.cuadricula-data {
    display: flex;
    flex-direction: column;
    align-self: normal;
}

.cuadricula-name {
    font-size: 32px;
}

@media only screen and (max-width: 768px) {
    .cuadricula {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(1, 160px);
        grid-column-gap: 15px;
        grid-row-gap: 10px;
        justify-content: center;
    }
}

@media only screen and (max-width: 420px) {
    .cuadricula {
        display: grid;
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(1, 160px);
        grid-column-gap: 15px;
        grid-row-gap: 10px;
        justify-content: center;
    }
}
